<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>
            This is a web app powered by Express framework - NodeJS
        </p>

        {{> footer}}
    </body>
</html>